a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.list {
  display: flex;
  gap: 100px;

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .name {
    font-weight: 700;
    margin-top: 30px;
  }

  .image {
    width: 300px;
    height: 300px;
  }
}
